#banner {
  .container {
    .banner-left {
      padding-top: 170px;
      h1 {
        font-size: 64px;
        font-weight: 700;
        line-height: 77px;
        letter-spacing: -0.04em;
        text-align: left;
        @include for-phone-only {
          font-size: 45px;
        }
        .master {
          color: $main-color;
          
        }
        .quality {
          color: $main-color;
        }
      }
      p {
        @include p;
        padding-top: 25px;
        padding-bottom: 25px;
      }
        .banner-left-btn {
          @include btn;
        }
        .banner-right-btn {
          @include btn;
          margin-left: 15px;
        }
        .counter-part {
          margin-top: 150px;
          @include for-phone-only {
            margin-top: 80px;
          }
          .counter-item {
            h3 {
              font-weight: 500;
              font-size: 40px;
              @include for-phone-only {
                font-size: 35px;
              }

            }
            p {
              font-size: 20px;
              font-weight: 400;
              color: $text-color;
           

            }
          }
           }
        
        }

    .banner-right {

      img {


      }
    }
  }

}

