#blog {
    padding-top: 150px;
    .container {
        .blog-header {
            h2 {
                @include h2;

            }
            p {
                @include p;
                margin-bottom: 40px;
            }

        }
        .blog-main {
            height: 620px;
            overflow: hidden;
            .blog-item {
                @include for-tablet-portrait-up {
                    margin: 10px 0;
                }
                @include for-phone-only {
                    margin: 10px 0;
                }
                &::before {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    content: '';
                    background-color: rgba(0, 0, 0, 0.4);
                    @include border-radius-25;
                }
                &:hover {
                    .blog-item-overlay {
                        top: 50%;
                        visibility: visible;
                    }
                }
                
                img {
                    width: 100%;
                    @include border-radius-25;
                }
                .blog-item-overlay {
                    width: 380px;
                    @include transition;
                    top: 65%;
                    visibility: hidden;
       
                    h3 {
                        font-size: 27px;
                        font-weight: 700;
                        color: $white;
                    }
                    p {
                        font-size: 16px;
                        font-weight: 400;
                        color: $white;
                    }
                    a {
                        
                        text-decoration: none;
                        @include btn;
                        color: $white;
                        border-color: $white;
                        &:hover {
                            border-color: $main-color;
                        }

                    }
                }
            }
        }
    }
}