#contact {
    padding-top: 150px;
    .container {
        .contact-header {
            h2 {
                @include h2;

            }
            p {
                @include p;
                padding-bottom: 80px;

            }
        }
        .contact-form {
                margin-bottom: 40px;
                form {
                    .mb-3 {
                        fieldset {
                            width: 100%;
                            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px;
                            @include border-radius-5;
                            border: 1px solid #d7d7d7;
                            legend {
                                font-size: 14px;
                                font-weight: 400;
                                color: $text-color;
                            }
                            .form-control {
                                border: none;
                                &:focus {
                                
                                    box-shadow: none; 
                                }
                                
                
                            }
                         
                        }
                    }
                    button {
                        border: none;
                        @include btn;
                        margin-top: 10px;
                     
        
                    }
                }    
        }
    }
}
