#contact {
    padding-top: 150px;
    .container {
        .contact-header {
            h2 {
                @include h2;

            }
            p {
                @include p;
                padding-bottom: 80px;

            }
        }
        .contact-form {
            .form-control {
                border: none;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
                padding: 12px 8px;

            }
            button {
                border: none;
                @include btn;
             

            }
            
        }
    }
}